
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

html {
    scrollbar-color: yellow rgb(21, 31, 50);
  }
  
body{
    background-color: $thirdColour;
    font-family: $mainFont;
    color: black;
}

h1{
    text-shadow: $textHeaderShadow;
    color: $headlineColor;
    font-family:$subFont;
}


.menyMain{
    background-color: $thirdColour;    
    font-family: $mainFont;
}

.menyMain p{
        text-shadow:  $textShadow;
        font-family: $thirdFont;
}

nav {
    background: $mainColour; /* 4 */
    font-family: $subFont;
    border: solid 1px  white;
    border-radius: 10px 10px 10px 10px;

    h2{
        color: $fourthColour;   
        text-shadow:  $textShadowBlack;
    }
    
    a{
        text-decoration: none;
        color: $headlineColor;
        text-shadow:  $textShadow;

    }

    a:hover{
        color:$thirdColour;
    }
}



.menyMain th{
    color: white;
    font-family: $thirdFont;
    letter-spacing: 1px;
    text-shadow:  $textShadowBlack;
}


.menyMain tr{
    color: white;
    font-family: $mainFont;
    letter-spacing: 1px;
    text-shadow:  $textShadowBlack;
}

.mainIndex p{
    text-shadow: $textShadow;
    color: $mainColour;
}

.btnField{
    background: $mainColour;
    color: white;
}


button {
 background-color: $headlineColor;
 font-family: $subFont;
 border: none;
 border-radius: 1rem;
 color: $mainColour;
 box-shadow: 0 0.4rem #dfd9d9;
}

button:active {
 color: white;
 box-shadow: 0 0.2rem #dfd9d9;
}

button:hover {
 background: $subColour;
 color: $headlineColor;
 text-shadow: 0 0.1rem #bcb4b4;
}
