// clour --> sajad r u fr 💀, det är color

$mainColour: #521C0D;
$subColour: #D5451B;
$thirdColour: #FF9B45;
$fourthColour:#F4E7E1;
$headlineColor: #fff6a9;



// tesxt shadow
$textShadow: 1px 1px 0 white;
$textShadowBlack: 1px 2px 0 black;
$textHeaderShadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;


//font 
$mainFont: monospace;
$subFont:"Sacramento", cursive;
$thirdFont: fantasy;

// Measurements
$headlineSize: calc(20px + 18vh);
