@import url("https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
html {
  scrollbar-color: yellow rgb(21, 31, 50);
}

body {
  background-color: #FF9B45;
}

h1 {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: "Sacramento", cursive;
}

.menyMain {
  background-color: #FF9B45;
  font-family: monospace;
  color: black;
}

.menyMain p {
  text-shadow: 1px 1px 0 white;
  font-family: fantasy;
}

nav {
  background: #521C0D; /* 4 */
  font-family: "Sacramento", cursive;
  border: solid 1px red;
  border-radius: 10px 10px 10px 10px;
}
nav h2 {
  color: #F4E7E1;
}

nav ul {
  list-style: none; /* 6 */
}

nav h2 {
  font-size: 40px;
  letter-spacing: 1px;
  text-shadow: 1px 2px 0 black;
}

nav a {
  text-decoration: none;
  color: red;
  font-size: 30px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0 white;
}

.adminBody {
  background-color: #FF9B45;
  font-family: monospace;
  color: black;
}

.menyMain th {
  color: white;
  font-family: fantasy;
  letter-spacing: 1px;
  text-shadow: 1px 2px 0 black;
}

.menyMain tr {
  color: white;
  font-family: monospace;
  letter-spacing: 1px;
  text-shadow: 1px 2px 0 black;
}

html {
  scrollbar-width: thin;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  text-align: center;
  color: black;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

.menyMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  width: auto;
}

h1 {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
  text-align: center;
}

main {
  padding-top: 50px;
}

@media screen and (max-width: 376px) {
  h1 {
    font-size: 55px;
  }
}
table {
  width: 90%;
  margin: 0 5%;
  text-align: center;
}

th, td {
  padding: 0.5em;
}

.slideimgcorp {
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  display: flex;
  align-content: space-around;
  align-items: center;
  padding: 4px 5px 0px; /* 3 */
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1000;
}

nav ul {
  display: flex; /* 5 */
  list-style: none; /* 6 */
}

nav li {
  padding-left: 20px; /* 7! */
}

nav a {
  text-decoration: none;
  color: red;
}

@media only screen and (max-width: 376px) {
  nav {
    padding: 0 0 0 0;
    max-height: 100px;
    justify-content: space-around;
  }
  nav h1 {
    font-size: 30px;
  }
  nav ul {
    padding: 0 0 0 0;
  }
  nav li {
    padding: 10px 0 0 0;
  }
  nav li a {
    font-size: 20px;
    padding-left: 10px;
  }
  th, td {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
}
.header-btn {
  background: #173054;
  color: #fff;
  padding: 90px 170px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.adminBody {
  text-align: center;
}

.backgrundsBild {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */