<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="aboutUs.js"></script>
</head>
<body>
    <nav> 
        <a href="/">Home</a>
        <a href="/meny">Meny</a>
        <a href="/login">Login</a>
    </nav>

    <main>
        <h1>Who is behind Reeves!</h1>
        <p>Bla bla blab labdslbal blab sldb albsd balbsla blbas lblasbd lb
            kabsd basb dkjasbd kjbaskjdb kajsbd jbdskjbakjbskdb akjsb 
            asjb dsdueh r80whf08ahsf0hs0fh08h008fhadh u he uauheu hiahuefiuha¨
            ha fe8ha0fhhaiushf8e h a8he8a0 8hef ¨
            ufeau auefu 0uea0uf0ue0ua0f0uufa jahs hafofhaehr8ea+ufnsadiaif3eh038yq +afd¨uf
            jfujfjfj
        </p>
        <img src="img/Reeves.jpg" alt="Logo img">
    </main>
    
</body>
</html>