<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="booking.js"></script>
</head>

<body class="bookingBody">

<a href="/">About Us</a>
<h1 class="test">Fix the meny</h1>
<div class="bookingContainer">




<form id="form" method="POST" class="bookingForm" action="/meny">
<div class="formContainer">
    
</div>
<!--
    <label for=items">Items</label>
    <input type="items" name="items" id="items">
    <label for="price">Price</label>
    <input type="price" name="price" id="price">
    <label for="ingredients">Ingredients</label>
    <input type="ingredients" name="ingredients" id="ingredients">
    <input type="submit">	
-->
</form>
<br><br>

</div>

</body>
</html>