<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="icon" type="image/x-icon" href="img/Reeves.jpg">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="booking.js"></script>
</head>
<body>
    <header>
        <nav>
        <h2>Reeves</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/meny">Menu</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    <br><br><br><br>
    </header>
    <div class="booking-container">
   <!-- <div class="formContainer">
        <form method="post" action="">
            <label for="date">Enter the date you want to come</label>
            <input placeholder="Click Here" type="date">
            <label for="Amount">How many people?</label>
            <input type="number" placeholder="Enter Here">
        </form>
    </div>
    -->
</div>
<div class="time-container">
    
</div>
<div class="bookingComplete">
    <h1>Booking Complete</h1>
    <p>Thank you for booking with us! We look forward to seeing you.</p>
    <button onclick="window.location.href='/'">Return to Home</button>
    <style>
    .bookingComplete {
        display: none;
    }
    </style>
</body>
</html>