<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="booking.js"></script>
</head>
<body>
    <div class="booking-container">
   <!-- <div class="formContainer">
        <form method="post" action="">
            <label for="date">Enter the date you want to come</label>
            <input placeholder="Click Here" type="date">
            <label for="Amount">How many people?</label>
            <input type="number" placeholder="Enter Here">
        </form>
    </div>
    -->
</div>
<div class="time-container">
    
</div>
</body>
</html>