<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reeves</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <nav> 
        <img src="" alt="logo">
        <a href="aboutUs.html">About Us!</a>
        <a href="meny.html">Meny</a>
        <button id="login">login</button>
    </nav>

    <div class="container">
        <div class="header">
            <header>
                <h1>Reeves</h1>
                <p>Bro jag vet inte vad du skrev det går inte att se!</p>
            </header>
            
        </div>
    </div>
</body>
</html>