<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reeves</title>
    <link rel="icon" type="image/x-icon" href="img/Reeves.jpg">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="index.js"></script>
</head>
<body>
    <nav>
    <h2>Reeves</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/meny">Menu</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
    </nav>
    <br><br>
<main class="mainIndex">
    <img src="img/resturan.jpg" alt="" width="100%" height="auto">
    <h1>Reeves</h1>
    <p>Reeves is a beloved, top-rated restaurant known for serving a wide variety of dishes — from burgers and pasta to vegan and gluten-free options. Everyone finds something they love on the menu. What truly sets Reeves apart is its exceptional customer service, ranked number one for treating every guest like family. With a warm, welcoming atmosphere and consistently delicious food, Reeves has become the go-to spot for all occasions. It's not just a restaurant — it's a community favorite.</p>
    <div class="btnField">        
        <button id="bookingBtn" onclick="location.href='/booking';">Book a table</button>
        <button onclick="location.href='/meny';">see menu</button>
    </div>
    <div class="items">
        <h2>Welcome to Reeves!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque, purus et dictum pharetra, ipsum ex ultricies neque, vel iaculis eros ligula ut velit. Donec at eros vel ligula sodales fermentum. Sed sed velit in neque semper feugiat. Nullam id laoreet enim, non tincidunt velit. Nulla facilisi. Aliquam erat volutpat. Donec vel sem ac nisi gravida fermentum vel ut tellus. Nullam vel ligula et nunc consectetur congue.</p>
        <h3>Our specialties:</h3>
            <ul>
                <li>Pasta</li>
                <li>Pizza</li>
                <li>Salads</li>
                <li>Desserts</li>
            </ul>
</main>

    
</body>
</html>