<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reeves</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="index.js"></script>
</head>
<body>
    <nav> 
        <img src="/img/Reves.webp" alt="logo">
        <a href="aboutUs.html">About Us!</a>
        <a href="meny.html">Meny</a>
        <button id="login">login</button>
    </nav>

    <div class="container">
        <div class="header">
            <header>
                <img class="backgrundsBild" src="/img/resturang.jpg" alt="">
                <div>
                <h1>Reeves</h1>
                <p>Bro jag vet inte vad du skrev det går inte att se!</p>
            </header>
        </div>
            <div class="header-btn">
                <button>Book a table</button>
                <button>see menu</button>
            </div>
            <main>
                <div class="items">
                <h2>Welcome to Reeves!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque, purus et dictum pharetra, ipsum ex ultricies neque, vel iaculis eros ligula ut velit. Donec at eros vel ligula sodales fermentum. Sed sed velit in neque semper feugiat. Nullam id laoreet enim, non tincidunt velit. Nulla facilisi. Aliquam erat volutpat. Donec vel sem ac nisi gravida fermentum vel ut tellus. Nullam vel ligula et nunc consectetur congue.</p>
                <h3>Our specialties:</h3>
                <ul>
                    <li>Pasta</li>
                    <li>Pizza</li>
                    <li>Salads</li>
                    <li>Desserts</li>
                </ul>
            </main>
            
        </div>
    </div>
</body>
</html>