<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menu</title>
        <link rel="icon" type="image/x-icon" href="img/Reeves.jpg">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="meny.js"></script>
    </head>
<body>
    <nav>
    <h2>Reeves</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/meny">Menu</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
    </nav>
    <br><br>

    <main class="menyMain">
        <h1>Look at the menu</h1>

        <p>Take a look at our menu and explore everything we have to offer! We have a wide selection of delicious options to suit every taste and craving. Whether you're in the mood for something savory, sweet, or in between, there's something here for everyone!</p>

        <table id="menuDisplay" class="menuTable">
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Price</th>
                <th>Ingredients</th>
            </tr>
    </main>

</table>
</body>
</html>