<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reeves</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="meny.js"></script>
    </head>
<body>
        <nav> 
        <a href="/">Home</a>
        <a href="/meny">Meny</a>
        <a href="/login">Login</a>
    </nav>

    <main class="menyMain">
        <h1>Look at the meny</h1>
        <table id="menuDisplay" class="menuTable">
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Price</th>
                <th>Ingredients</th>
            </tr>
    </main>

</table>
</body>
</html>