<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" type="image/x-icon" href="img/Reeves.jpg">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <nav>
    <h2>Reeves</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/meny">Meny</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
    </nav>
    <br><br>

    <main>
        <form method="POST" action="/signup" class="sPlatformForms">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <label for="phone">Telefonnr</label>
        <input type="text" name="phone" id="phone">
        <input type="submit">
        </form>
    </main>

</body>
</html>