<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reeves</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="login.js"></script>
    </head>
<body>
    <nav class="login-nav"> 
        <img src="/img/Reves.webp" alt="logo">
        <a href="/aboutUs">About Us!</a>
        <a href="/meny">Meny</a>
        <a href="/">Home</a>
    </nav>

    <form method="POST" action="/login">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="submit">	
    </form>
    
</body>
</html>